<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>
    <div id="wrapper">
        <div class="division_box">
            <h1>Add a Book</h1>
            <form action="/add_book" method="POST">
            <label for="title">Title</label>
            <input name="title_input" type="text">
            <label for="description">Description</label>
            <textarea name="desc_input" rows="5" cols="40"></textarea> 
            <button type="submit" value="Add" name="add_book" class="submit_button">
            </form>
        </div>
        <div class="division_box">
            
        </div>
    </div>
</body>
</html>