<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="/add_book">Add a book</a>
            <a href="/add_author">Add an author</a>
        </div>
    </div>
</body>
</html>